.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dhlbk {
    margin: 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}